.movie {
  &__poster {
    &--small {
      max-width: 100px;
      max-height: 150px;
    }
  }

  &__plot {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-30%);
    transition: all 0.4s ease-in;

    &--filled-in {
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
    }
  }
}